@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Grand Acme Corp Webapp Serialnumber Draw (working title)</h1>
    <p></p>
    <p>We hope you like our products, and we wish you luck in the draw!</p>
    <p></p>
    <form>
        <button  asp-controller="Draw" asp-action="Create">Enter draw</button>
    </form>
    <p></p>
    <img src="~/images/170907-virtual heart.jpg" />
</div>


