@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Loads and loads of legalese that you won't bother reading anyways.</p>
<p>Just imagine the text below is important and not the lyrics to "Around the world" by Daft Punk.</p>

@for (int i = 0; i < 70; i++)
{
<p>Around the world, around the world<br /></p>
}

