@model IEnumerable<Acme_Corp_Webapp.Models.DrawSubmission>
@{
    Layout = "_Layout";
}
<h1>Loser</h1>

<p>Unfortunately we regret to inform you of the information that is that you have not been entirely lucky in this Grand Acme Corp Webapp Serial number Draw (working title)</p>
<p>If you wish you may enter the draw again as long as you still have a valid serial number</p>

<img src="/images/crying_toddler-1200x628-facebook-1200x628.jpg" alt="Crying baby" />