@model IEnumerable<Acme_Corp_Webapp.Models.DrawSubmission>
@{
    Layout = "_Layout";
}
<h1>CONGRATULATIONS YOU'VE WON!</h1>

<p>As a winner of the Grand Acme Corp Webapp Serialnumber Draw (working title) <br />You get a lifetime supply of nothing!! </p>

<img src="/images/Fireworks-of-various-colo-009.jpg" alt="Pretty Fireworks" />